<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @post.match %>
</p>

<p>
  <strong>時間</strong>
  <%= @post.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@post, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>

  <% if user_signed_in? %>
  <% if current_user.already_liked?(@post) %>
      <%= link_to post_like_path(@post), method: :delete do %>
        <i class="fas fa-heart"></i><%= @post.likes.count %>
      <% end %>
  <% else %>
      <%= link_to post_likes_path(@post), method: :post do %>
        <i class="far fa-heart"></i><%= @post.likes.count %>
      <% end %>
  <% end %>
<% else %>
<i class="far fa-heart"></i><%= @post.likes.count %>
<% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
